/* Change the CSS box model */
html * {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}

p {
    background-color: aqua;
    padding: 12px;
    border: 5px dashed #000000;
    margin: 100px;
    width: 400px;
}

body {
    margin:0px;
    font-size: 20px;
}

#wrapper {
    width: 95%;
    margin: 0 auto;
    background-color: yellow;
}
